<template name='layout'>
	<div class='container-fluid main-container'>
		<div class='row'>
			<div class='col-sm-2 col-side-bar'>
				{{> Template.dynamic template=sideMenu}}
			</div>
			<div class='col-sm-10'>
				<div class='row'>
					{{> Template.dynamic template=navBar}}
				</div>
				<div class='row main-row'>
					{{> Template.dynamic template=main}}
				</div>
			</div>
		</div>
	</div>
	<footer class='footer'>
			<div class='container'>
				<div class='col-sm-12'>
					Joachim Blaafjell Holwech
				</div>
			</div>
	</footer>
</template>


