<template name='sideMenu'>
	{{#if Template.subscriptionsReady}}
		<div class='row'>
			{{> EasySearch.Input index=languagesIndex attributes=attrInput}}
		</div>
		<ul class='nav nav-pills nav-stacked' id='languageList'>
			{{#EasySearch.Each index=languagesIndex}}
				<li><a href='#' id='{{code}}'>{{nativeName}}</a></li>
			{{/EasySearch.Each}}
		</ul>

		{{#EasySearch.IfSearching index=languagesIndex}}
			{{> localLoading}}
		{{/EasySearch.IfSearching}}
		{{#EasySearch.IfNoResults index=languagesIndex}}
			<div class='no-results'>No results found!</div>
		{{/EasySearch.IfNoResults}}
		{{> EasySearch.LoadMore index=languagesIndex}}
	{{else}}
		{{> localLoading}}
	{{/if}}
</template>