<template name='urlPage'>
	{{#if Template.subscriptionsReady}}
		{{#with getData}}
			<div class='row'>
				<div class='page-header col s12'>
					<h3>{{description}}</h3>
				</div>
			</div>
			<div class='row'>
				<div class='col s12'>
					<a href='{{url}}'>{{url}}</a>
				</div>
			</div>
			<br><br>
			<div class='row'>
				<div class='col s4'>
					{{> comments}}
				</div>
			</div>
			<div class='row'>
				<div class='col s4'>
					{{> textAreaMedium}}
				</div>
			</div>
		{{/with}}
	{{else}}
		{{> localLoading}}
	{{/if}}
</template>