<template name='navBar'>
	<nav>
		<div class="nav-wrapper">
			<!-- {{> EasySearch.Input index=wordsIndex attributes=attrInput}} -->
			<div class="left">
				<form>
					<div class="input-field">
						<input type="search" id="search-field" class="field" required maxlength="">
						<label for="search-field"><i class="mdi-action-search"></i></label>
						<i class="mdi-navigation-close close"></i>
					</div>
				</form>
			</div>
			<a href="{{pathFor route="home"}}" class="right">LEARNXYZ</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">{{> loginButtons}}</a></li>
				<li></li>
			</ul>
		</div>
	</nav>
</template>