<template name='searchResult'>
	{{#if Template.subscriptionsReady}}
		{{#EasySearch.Each index=wordsIndex}}
			<a href='{{pathFor 'result' _id=getWordId query=getCurrentTab}}'>
				<div class='panel panel-default'>
					<div class='panel-body'>
						<div class='col-sm-1'>
							{{word}}
						</div>
						<div class='col-sm-11'>
							{{description}}
						</div>
					</div>
				</div>
			</a>
		{{/EasySearch.Each}}

		{{#EasySearch.IfSearching index=wordsIndex}}
			{{> localLoading}}
		{{/EasySearch.IfSearching}}

		{{> EasySearch.LoadMore index=wordsIndex}}

		{{#EasySearch.IfNoResults index=wordsIndex}}
		<a href='{{pathFor 'newWord'}}'>
			<div class='col-sm-6 col-centered'>
				<div class='row'>
					<div class='col-sm-24'>
						<div class='center-block'>
							<i class='material-icons md-48' id='new-word-icon'>add_circle_outline</i>
						</div>
					</div>
					
				</div>
				<div class='row text-center'>
					<p>This word does not exits. Want to add it? (x)</p>
				</div>
			</div>
		</a>
		{{/EasySearch.IfNoResults}}
	{{else}}
		{{> localLoading}}
	{{/if}}
</template>
