html, body{
	height: 100%;
}

.unstyle-link {
	color: $gray;
}

.unstyle-link:hover {
	color: $gray;
	text-decoration: none;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.active-yellow {
	color: $nav-color;
}

