html, body{
	height: 100%;
}

.unstyle-link {
	color: $gray;
}

.unstyle-link:hover {
	color: $gray;
	text-decoration: none;
}

.link-brand {
	color: $nav-color-second;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.active-yellow {
	color: $nav-color;
}

.center-block {
	display: table;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.content {
	border: 1px solid $gray-lighter;   
	padding: $panel-body-padding;
	margin-top: $line-height-computed;
}
