.navbar-form {
	margin-top: 0px;
	margin-bottom: 0px;
}

#searchbar {
	height: 64px;
	font-size: $font-size-large;
	background: $nav-color;
	border: $nav-color;
	box-shadow: none;
}

#nav-search-addon {
	color: white;
}

#nav-search-addon:hover {
	color: $gray-dark;
}
// #searchbar-group:hover {
// 	> #searchbar, > #nav-search-addon {
// 		background: white;
// 		border: white;
// 	}
// }

.search-group:hover #nav-search-addon, .search-group:hover #searchbar {
	background:white;
	border: white;
	color: $gray-dark;
}

#searchbar:focus {
	background: white;
	#nav-search-addon {
		background: white;
	}
}
